@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply shadow-lg shadow-neutral-600;
        background-color: #2c2b2b;
        padding: 10px 15%;
        border-radius: 10px;
        overflow: hidden;
    }
    .btn-secondary {
        @apply shadow-lg shadow-neutral-600;
        background-color: #ffffff;
        padding: 10px 15%;
        border-radius: 10px;
        overflow: hidden;
    }
}

